.form-control {
  padding: 15px 20px;
  border: 1px solid #eee;
  outline: none;
  width: 100%;

  &:active, &:focus {
    border-color: #ccc;
  }

  &--select {
    background-position: 10%;
  }

  &--input {
    //min-width: 550px;
  }
}
