.form-control {
  padding: 15px 20px;
  border: 1px solid #eee;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: #898989;

  &:active, &:focus {
    border-color: #898989;
  }

  &--select {
    background-position: 10%;
  }

  &--input {
    //min-width: 550px;
  }
}
