.search-bar {
  margin-bottom: 20px;

  &__header {
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    gap: 20px;

    &__slogan {
      color: #999;
    }
  }

  &__search {
    display: grid;
    grid-template-columns:  minmax(100px, 450px)  minmax(100px, 150px);
    grid-auto-flow: row;
    gap: 20px;
  }
}
