.chip {
  display: inline-block;
  text-decoration: none;
  color: #0969da;
  font-size: 12px;
  padding: 0 10px;
  font-weight: 500;
  border-radius: 2em;
  line-height: 22px;
  background-color: #ddf4ff;
  white-space: nowrap;
}
