:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  margin: 0;
  padding: 50px;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }

  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}


h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
